@font-face {
  font-family: "Pretendard";
  src: url("../assets/fonts/Pretendard-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "VitroCore";
  src: url("../assets/fonts/VITRO CORE TTF.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "VitroPride";
  src: url("../assets/fonts/VITRO PRIDE TTF.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
